@model TennisApplication.Dtos.Tournament.TournamentCreateDto
@{
    ViewData["Title"] = "Create new tournament";
}
   @using (Html.BeginForm("CreateTournament", "Tournament", FormMethod.Post))
   {
       <h2>Create new tournament</h2>
       
       <label>Name of the tournament:</label>
       @Html.TextBoxFor(t => t.Name, new { required = string.Empty})
       <br>
       
       <label>Tournament address:</label>
       @Html.TextBoxFor(t => t.Place, new { required = string.Empty})
       <br>
       
       <label>Date of the tournament:</label>
       @Html.EditorFor(model => model.Date, new { htmlAttributes = new { required = string.Empty } })
       <br>
       
       <label>Number of players: </label>
       @Html.TextBoxFor(t => t.PlayersNumber, new { @type = "number", required = string.Empty})
       <br> <br>
            
       <input type="submit" value="Create tournament">           
       
   }