@model TennisApplication.Dtos.Tournament.TournamentReadDto
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content border border-info ">
            <div class="modal-header">
                <div class="my-text-color">
                    <h5 class="modal-title" id="exampleModalLabel">Detail tournament <b>'@Model.Name'</b></h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                    <div class="mb-1">

                        <label class="my-text-color font-weight-bold">
                            Place:
                        </label>
                        <label class="my-text-color2 font-weight-bold">
                            @Model.Place
                        </label>
                    </div>
                    <div class="mb-1">
                    
                        <label class="my-text-color font-weight-bold">
                            Date:
                        </label>
                        <label class="my-text-color2 font-weight-bold">
                            @Model.Date
                        </label>
                    </div>
                
                    <div class="mb-1">
                                    
                        <label class="my-text-color font-weight-bold">
                            Draw size:
                        </label>
                        <label class="my-text-color2 font-weight-bold">
                            @Model.DrawSize
                        </label>
                    </div>
                
                    <div class="mb-1">
                        @{
                            var isCompleted = Model.Completed ? "yes" : "no";
                        }
                                                 
                        <label class="my-text-color font-weight-bold">
                            Completed:
                        </label>
                        <label class="my-text-color2 font-weight-bold">
                            @isCompleted
                        </label>
                    </div>

            </div>

        </div>
    </div>
</div>