@using TennisApplication.Dtos.User
@using Microsoft.AspNetCore.Http
@using TennisApplication.Others
@{
    DeserializeUser deserializable = new DeserializeUser(new HttpContextAccessor());
    UserReadDto loggedUser = deserializable.GetLoggedUser();
}
<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @*Hello @loggedUser?.FirstName!*@
            @if(loggedUser != null){
                <img class="img-responsive full-width" src="data:image/jpeg;base64,@Convert.ToBase64String(loggedUser.Photo)" alt=""/>
            }
            
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="EditAccountView">Edit account</a>
            <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="LoggedOut">Logout</a>
        </div>
    </li>
</ul>