@using TennisApplication.Others
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hello @LoggedUser.User.FirstName!
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="EditAccountView">Edit account</a>
        <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="LoggedOut">Logout</a>
    </div>
</li>