@using TennisApplication.Others
<li class="nav-item dropdown">
    
    <a class="nav-link dropdown" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tournament
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    
    @if (LoggedUser.User != null && LoggedUser.User.Role.Equals(Role.TournamentDirector))
    {
        <a class="dropdown-item" asp-area="" asp-controller="Tournament" asp-action="CreateTournamentView">Create new tournament</a>
        
    }
        <a class="dropdown-item" asp-area="" asp-controller="Tournament" asp-action="GetAllTournaments">All tournament</a>


        <a class="dropdown-item" asp-area="" asp-controller="CourseTournament" asp-action="CompletedTournamentView">Completed tournament</a>


    <a class="dropdown-item" asp-area="" asp-controller="Tournament" asp-action="GetIncomingTournament">Incoming tournament</a>
    
        <a class="dropdown-item" asp-area="" asp-controller="CourseTournament" asp-action="OngoingAllView">Ongoing tournament</a>

    </div>
</li>