@model TennisApplication.Dtos.User.UserReadDto

@{
    ViewData["Title"] = "Login";
}

@using (Html.BeginForm("LoggedIn", "Login", FormMethod.Post))
{
    if (!ViewData.ModelState.IsValid)
    {
        <span class="text-danger">
            @ViewData.ModelState["WrongEMailOrPassword"].Errors[0].ErrorMessage
            <br>
        </span>
    }
    <label>E-mail: </label>
    @Html.TextBoxFor(u => u.EMail, new {required = string.Empty})
    <br>
    
    <label>Password: </label>
    @Html.PasswordFor(u => u.Password, new {required = string.Empty})
    <br>
    
    <input type="submit" value="Login">   
}