@model TennisApplication.Dtos.User.UserReadDto

@{
    ViewData["Title"] = "Login";
}
@using (Html.BeginForm("LoggedIn", "Login", FormMethod.Post, new
{
    @class = "row align-items-center justify-content-center"
}))
{    

    <div class="form-row mb-4">
        <div class="row align-items-center justify-content-center border border-light p-5">
            
        
        <p class="h4 mb-4">Sign in</p>
        @Html.TextBoxFor(u => u.EMail, new
        {
            required = string.Empty,
            @class = "form-control mb-4",
            placeholder = "E-mail"
        })
        @Html.PasswordFor(u => u.Password, new
        {
            required = string.Empty,
            @class = "form-control mb-4",
            placeholder = "Password"
        })
        
        @if (!ViewData.ModelState.IsValid)
        {
            <span class="text-danger">
                   @ViewData.ModelState["WrongEMailOrPassword"].Errors[0].ErrorMessage
            </span>
        }
        <input type="submit" class="btn btn-info my-4 btn-block" value="Login">
        </div>
    </div>
    
    
}