@model TennisApplication.Dtos.User.UserReadDto

@{
    ViewData["Title"] = "No matches";
}
<div>
    
</div>
<h2 class="my-text-color" style="display: inline-block">No found matches for</h2>
<h2 class="my-text-color2 font-weight-bold" style="display: inline-block">  @Model.FirstName @Model.LastName</h2>
